# Flutter/Dart/Pub related
**/.dart_tool/
**/.packages
**/build/
**/ios/
**/android/
**/web/
**/linux/
**/windows/
**/macos/
**/coverage/
**/pubspec.lock

# VS Code
.vscode/

# IntelliJ
.idea/

# Flutter generated plugin registrant metadata
**/.flutter-plugins-dependencies
.omx/
