background
cable
notebook
mug
book
pen
paper
charger
headphones
remote
keys
wallet
phone
tablet
mouse
keyboard
cup
bottle
box
bag
toy
clothing
shoe
tool
electronic_device
container
utensil
decorative_item
cable_bundle
trash
